<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <link rel="icon" href="./img/download.png">
    <title>404</title>
</head>
<body>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
    {{>footer}}
</body>
</html>