<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <link rel="icon" href="./img/download.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Simukayi Mutasa, using location data from mapbox and weather data from dark sky.
            Check out this cool MRI of someones body!</p>
        <img class="portrait" src="./img/32_5705293_Ax HASTE_084024.742500.gif"/>
    </div>
    {{>footer}}
</body>
</html>